<% autori.forEach(autore => { %>
    <ul>
        <li>ID: <%= autore.id %> </li>
        <li>Nome: <%= autore.nome %> </li>
        <li>Cognome: <%= autore.cognome %> </li>
        <li>Modifica sotto</li>
        <form method="POST" action="/modificautori">
            <input type="hidden" name="id" value="<%= autore.id %>">
            <li> <input type="text" name="nome" value="<%= autore.nome %>"> </li>
            <li><input type="text" name="cognome" value="<%= autore.cognome %>"> </li>
            <li><input type="submit" value="Modifica"> </li>
        </form>
        <form action="/delautore" method="post">
            <input type="hidden" name="id" value="<%= autore.id %>">
            <input type="submit" value="Elimina">
        </form>
    </ul>
<% }) %>
<p>Aggiunta autore</p>
<form action="/addautore" method="post">
    <input type="text" name="cognome" value="cognome">
    <input type="text" name="nome" value="nome">
    <input type="submit" value="Aggiungi">
</form>
<a href="/admin">Torna alla home admin</a>